* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  line-height: 64px;
}

h2 {
  font-size: 46px;
  line-height: 54px;
}

h4 {
  font-size: 35px;
}

h6 {
  font-weight: 700;
  font-size: 18px;
}

p {
  font-size: 16px;
  margin: 15px 0px 20px 0px;
}

.section-p1{
  padding: 40px 80px;
}

.section-m1{
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border: none;
  outline: none;
  transition: 0.2s;
  border-radius: 5px;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
  border-radius: 2px;
  margin-top: 20px;
}

body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255 255 255 / 6%);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  width: 80px;
  height: 50px;
  margin: 20px 50px;
}

.classNavbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* background-color: red; */
}

.classNavbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.classNavbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(53, 51, 51);
  transition: 0.3s ease;
}

.classNavbar li a:hover,
.classNavbar li a.active {
  font-size: 22px;
  color: rgb(0, 0, 0);
}

.classNavbar li a.active::after,
.classNavbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: rgb(21, 14, 14);
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#bar{
  display: none;
  align-items: center;
}

#close{
  display: none;
}


.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: green;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 10px;
  color: white;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

#main{
  background-image:url("bg2.png");
  height: 90vh;
  width: 100%;
  background-position: top 40% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#main h4{
  padding-bottom: 20px;
}

#main h1{
  color: rgb(133, 20, 20);
}

#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature img{
  width: 150px;
  height: fit-content;
}

#main button{
  width: 100px;
  height: 50px;
  border-radius: 2rch;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #a7aaa8;
  border-radius: 4px;
  margin: 15px 0;

}

#feature h6{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1;
}

#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#product1{
  text-align: center;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}

#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 15px 20px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;

}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02); 
}

#product1 .pro img{
  width: 100%;
  min-height: 400px;
  border-radius: 20px;
}

#product1 .pro .desc{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .desc h5{
  padding-top: 10px;
  color: rgb(30, 30, 30);
  font-size: 14px;
}

#product1 .pro .desc i{
  font-size: 12px;
  color: rgb(235, 212, 65);
}

#product1 .pro .cart{
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  color: black;
}

#banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("banner5.jpg");
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4{
  font-size: 20px;
  padding: 10px 0;
}
#banner h2{
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span{
  background-color: white;
}

button.normal:hover{
  background-color: #a7aaa8;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02); 
  transition: 0.2s ease;
}

#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("sm-banner.webp");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

#sm-banner .banner-box2{
  background-image: url("sm-banner4.jpg");
}

#sm-banner .banner-box h2{
  color: rgb(93, 6, 6);
}

#sm-banner .banner-box h4{
  color: rgb(29, 5, 5);
}

#sm-banner .banner-box:hover button{
  background-color: #070000b6;
  color: rgb(255, 244, 244);
  border: none;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02); 
  transition: 0.2s ease;  
}

#newsletter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: rgb(200 178 166);
  padding: 40px 80px;
  margin: 40px 0;
  height: 30vh;


}

#newsletter .form{
  display: flex;
  width: 40%;
}

#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: black;
}
#newsletter p{
  font-size: 17px;
  font-weight: 600;
  color: black;
}

#newsletter span{
  color: rgb(147, 10, 10);
}

#newsletter input{
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  /* border-radius: 4px; */
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button{
  background-color: black;
  color: wheat;
  white-space: nowrap;
  padding: 10px;
  font-size: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


/*********************** shop page **************************/

#page-header{
  background-image: url("banner5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h1, 
#page-header p{
  color: rgb(0, 0, 0);
}

#pagination{
  text-align: center;
}

#pagination a{
  text-decoration: none;
  background-color: #1a1a1a;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: 600;
}

#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

/******** single product *******/

#prodetails{
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}

.sml-img-grp{
  display: flex;
  justify-content: space-between;
}

.sml-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details{
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4{
  color: rgb(186, 25, 25);
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
  font-size: 26px;
}

#prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 15px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details button{
  padding: 10px;
  background-color: #1a1a1acf;
  color: white;
}

#prodetails .single-pro-details input:focus{
  outline: none;
}

#prodetails .single-pro-details span{
  line-height: 25px;
}

/****************** blog page ***********************/

#page-header.blog-header{
  background-image: url("banner3.jpeg");
}

#blog{
  padding: 150px 150px 0 150px;
}

#blog .blog-box{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: black;
  font-weight: 700;
  position: relative;
  transition: 0.3s ;
}


#blog .blog-details a::after{
  content: "";
  width: 50px;
  height: 1.5px;
  background-color: black;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover::after{
  color: rgb(78, 4, 4);
}

#blog .blog-details a::after{
  color: rgb(78, 4, 4);
}

#blog .blog-box h1{
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 65px;
  font-weight: 700;
  color: #c8c8c8;
  z-index: -9;
}


/************************ about page **********************/

#page-header .about-header{
  background-image: url("banner-about.jpg");
}

#about-head{
  display: flex;
  align-items: center;
}

#about-head img{
  width: 50%;
  height: auto;
}

#about-head div{
  padding-left: 40px;
}

#about-app{
  text-align: center;
}

#about-app .video{
  width: 70%;
  height: 600px;
  margin: 30px auto 0 auto;
}

#about-app .video img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/***************************** contact page ***************************/

#contact-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details{
  width: 40%;
}

#contact-details .details span,
#form-details form span {
  font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details h3{
  font-size: 26px;
  padding-bottom: 15px;
}

#contact-details .details li{
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

#contact-details .details li i{
  font-size: 14px;
  padding-right: 22px;
}

#contact-details .details li p{
  margin: 0;
  font-size: 14px;
}

#contact-details .map {
   width: 55%;
   height: 400px;
}

#contact-details .map iframe{
  width: 100%;
  height: 100%;
}

#form-details {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 80px;
  border: 1px solid rgb(214, 214, 214);
}

#form-details form{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input, 
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid rgb(218, 218, 218);
}

#form-details form button{
  background-color: #000000;
  color: rgb(215, 215, 215);
}

#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}


#form-details .people div img{
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 30px;
}

#form-details .people div p{
  margin: 0;
  font-size: 13px;
  line-height: 25px;
  color: #707070;
}
#form-details .people div p span{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: black;
}


/*************************** cart page ****************************/

#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img{
  width: 70px;
  margin-top: 40px;
}

#cart table thead td:nth-child(3){
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(1),
#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2),
#cart table td:nth-child(2){
  width: 150px;
  text-align: center;
}

#cart table tbody td:nth-child(3){
  width: 250px;
  /* text-align: center; */
}




#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
  width: 150px;
  text-align: center;
}

#cart table tbody td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
}


#cart table thead{
  border: 1px solid rgb(228, 228, 228);
  border-left: none;
  border-right: none;
}

#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table thead tr td{
  padding-top: 15px;
}

#cart table tbody td{
  font-size: 20px;
}

#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon{
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
  padding-bottom: 15px;
}

#coupon input{
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid rgb(41, 41, 41);
}

#coupon button,
#subtotal button{
  background-color: black;
  color: white;
  padding: 12px 20px;
}

#subtotal{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid rgb(67, 67, 67);
  padding: 30px;
}

#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

#subtotal table tr{
  width: 50%;
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
  font-size: 13px;
}

#subtotal table td{
  padding: 10px;
}


@media (max-width:799px) {
  .section-p1{
    padding: 40px 40px;
  }
  .classNavbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    /* background-color: #c91c1c; */
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 80px 0 0 10px;
    
  }

  .show-links{
    right: 0px;
  }

  .classNavbar li{
    margin-bottom: 25px;
  }

  #bar{
    display: flex;
    align-items: center;
  }

  #close {
    display: none;
  }

  #bar i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: black;
    font-size: 24px;
  } 

  #lg-bag {
    display: none;
  }

  #main{
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #feature{
    justify-content: center;
  }

  #feature .fe-box{
    margin: 15px 15px;
  }

  #product1 .pro-container{
    justify-content: center;
  }

  #product1 .pro{
    margin: 15px;
  }

  #banner{
    height: 20vh;
  }

  #sm-banner .banner-box{
    min-width: 100%;
    height: 30vh;
  }

  #banner3 {
    padding: 0 40px;
  }

  #banner3 .banner-box{
    width: 28%;
  }

  #newsletter .form{
    width: 70%;
  }

  /*  contact page form */

  #form-details{
    padding: 40px;
  }

  #form-details form{
    width: 50%;
  }


}

@media (max-width: 477px) {
  .section-p1{
    padding: 20px;
  }

  #header{
    padding: 10px 30px;
  }

  h1{
    font-size: 38px;
  }

  h2{
    font-size: 32px;
  }

  .classNavbar {
    display: flex;
    flex-direction: colurowmn;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    /* background-color: #c91c1c; */
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 80px 0 0 10px;
    
  }

  .fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .show-links{
    right: 0px;
  }

  #close {
    display: block;
  }

  #hero{
    padding: 0 20px;
    background-position: 55%;
  }

  #feature{
    justify-content: space-between;
  }

  #feature .fe-box{
    width: 155px;
    margin: 0 0 15px 0;
  }

  #product1 .pro{
    width: 100%;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box{
    height: 40vh;
  }

  #sm-banner .banner-box2{
    margin-top: 20px;
  }

  #banner3{
    padding: 0 20px;
  }

  #banner3 .banner-box{
    width: 100%;
  }

  #newsletter{
    padding: 40px 20px;
  }

  #newsletter .form{
    width: 100%;
  }

  /* single product */
  #prodetails{
    display: flex;
    flex-direction: column;
  }

  #prodetails .single-pro-image{
    width: 100%;
    margin-right: 0px;
  }

  #prodetails .single-pro-details{
    width: 100%;
  }

  /* blog page */

  #blog{
    padding: 100px 20px 0 20px;
  }
  #blog .blog-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #blog .blog-img{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
  }

  /* about page */

  #about-head{
    flex-direction: column;
  }

  #about-head img{
    width: 100%;
    margin-bottom: 20px;
  } 

  #about-head div{
    padding-left: 0px;
  }

  #about-app .video{
    width: 100%;
  }


  /* contact page */

  #contact-details{
    flex-direction: column;
  }

  #contact-details .details{
    width: 100%;
    margin-bottom: 30px;
  }

  #contact-details .map{
    width: 100%;
  }

  #form-details{
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }

  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }
  
}
